In [29]:
!pip install geopy

DEPRECATION: Python 2.7 reached the end of its life on January 1st, 2020. Please upgrade your Python as Python 2.7 is no longer maintained. A future version of pip will drop support for Python 2.7. More details about Python 2 support in pip, can be found at https://pip.pypa.io/en/latest/development/release-process/#python-2-support
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: geopy in /Users/a.ballolli/Library/Python/2.7/lib/python/site-packages (1.21.0)
Requirement already satisfied: geographiclib<2,>=1.49 in /Users/a.ballolli/Library/Python/2.7/lib/python/site-packages (from geopy) (1.50)

In [30]:
from geopy.geocoders import ArcGIS

In [31]:
# create ArcGIS object

In [32]:
arcg = ArcGIS()

In [33]:
arcg.geocode("Hirtest. 17 12555 Berlin")

Location((52.4621480389, 13.5834859319, 0.0))

In [34]:
arcg.geocode("3995 23rd St, San Francisco, CA 94114")

Location((37.7529908213, -122.431702359, 0.0))

In [43]:
dummyAddr = arcg.geocode("sdfhdsfjhdsfj sdjsdhfjdshfjsdfh") # returns None type if not found when you store and print the value

In [47]:
type(dummyAddr)

NoneType

In [49]:
import pandas as pd

In [51]:
df = pd.read_csv("data/supermarkets.csv")

In [66]:
df

,ID,Address,City,State,Country,Name,Employees,Coordinates
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8,"(3666 21st St, San Francisco, California, 9411..."
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15,"(735 Dolores St, San Francisco, California, 94..."
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25,"(332 Hill St, San Francisco, California, 94114..."
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10,"(3995 23rd St, San Francisco, California, 9411..."
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12,"(1056 Sanchez St, San Francisco, California, 9..."
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20,"(551 Alvarado St, San Francisco, California, 9..."

In [68]:
df["Address2"] = df["Address"]+", "+df["City"]+", "+df["State"]+", "+df["Country"]

In [69]:
df

,ID,Address,City,State,Country,Name,Employees,Coordinates,Address2
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8,"(3666 21st St, San Francisco, California, 9411...","3666 21st St, San Francisco, CA 94114, USA"
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15,"(735 Dolores St, San Francisco, California, 94...","735 Dolores St, San Francisco, CA 94119, USA"
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25,"(332 Hill St, San Francisco, California, 94114...","332 Hill St, San Francisco, California 94114, USA"
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10,"(3995 23rd St, San Francisco, California, 9411...","3995 23rd St, San Francisco, CA 94114, USA"
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12,"(1056 Sanchez St, San Francisco, California, 9...","1056 Sanchez St, San Francisco, California, USA"
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20,"(551 Alvarado St, San Francisco, California, 9...","551 Alvarado St, San Francisco, CA 94114, USA"

In [70]:
df["Coordinates"] = df["Address2"].apply(arcg.geocode)

In [75]:
df["Coordinates"][0]

Location((37.75644969, -122.429364349, 0.0))

In [78]:
df.Coordinates[0]

Location((37.75644969, -122.429364349, 0.0))

In [84]:
df["Coordinates"][0].latitude

37.7564496899993

In [86]:
df["Lat"] = df["Coordinates"].latitude

AttributeError: 'Series' object has no attribute 'latitude'

In [88]:
# to solve the above issue and extract latitude from all the coordinates we got from the ArcGIS

In [92]:
# df["Lat"] = df["Coordinates"].apply(lambda x: x.latitude)

In [95]:
df["Lat"] = df["Coordinates"].apply(lambda x: x.latitude if x !=None else None) # co-ordinates may be none if the address is not found by ArcGIS

In [98]:
df["Lat"]

0    37.756450
1    37.757796
2    37.755648
3    37.752991
4    37.752129
5    37.753719
Name: Lat, dtype: float64

In [102]:
df["Lng"] = df["Coordinates"].apply(lambda x: x.longitude if x!=None else None)

In [104]:
df["Lng"]

0   -122.429364
1   -122.425597
2   -122.428803
3   -122.431702
4   -122.430028
5   -122.433240
Name: Lng, dtype: float64

In [105]:
df

,ID,Address,City,State,Country,Name,Employees,Coordinates,Address2,Lat,Lng
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8,"(3666 21st St, San Francisco, California, 9411...","3666 21st St, San Francisco, CA 94114, USA",37.756450,-122.429364
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15,"(735 Dolores St, San Francisco, California, 94...","735 Dolores St, San Francisco, CA 94119, USA",37.757796,-122.425597
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25,"(332 Hill St, San Francisco, California, 94114...","332 Hill St, San Francisco, California 94114, USA",37.755648,-122.428803
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10,"(3995 23rd St, San Francisco, California, 9411...","3995 23rd St, San Francisco, CA 94114, USA",37.752991,-122.431702
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12,"(1056 Sanchez St, San Francisco, California, 9...","1056 Sanchez St, San Francisco, California, USA",37.752129,-122.430028
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20,"(551 Alvarado St, San Francisco, California, 9...","551 Alvarado St, San Francisco, CA 94114, USA",37.753719,-122.433240